/*
    Experimento 3.
    - Modo claro y oscuro.
*/

*{
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
}

body *{
    border: 1px solid black;
}

body {
    position: relative; /* Importante para mantener el menú en su ubicación*/
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: #121212;
    color: #f5f5f5;
    border: 1px solid white;
}

.principal{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    background-color: #0077b6;
}



.principal__texto{
    width: 70ch;
}

.seccion{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #00b4d8;
}


.seccion__texto{
    width: 60ch;
}

.menu__accesibilidad{
    position: absolute; /* Importante para mantener el menú en su ubicación*/
    z-index: 1;

    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    width: 300px;
    height: 200px;
    background-color: rgba(3, 4, 80, 0.8);
    color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.gray-scale {
    filter: grayscale(100%);
  }