*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body *{
    border: 1px solid black;
}

body{
    font-family: sans-serif;
}

.componente__accesibilidad{
    position: fixed;
    right: 0px;
    top: 50%;
    width: 80px;
    height: 80px;
    background: linear-gradient(to top right, #0061ff, #60efff);
    text-align: center;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.fa-solid{
    border: none;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.article__text{
    width: 60ch;
}

.section__test{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}